@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: Roboto;
    padding: 100px;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza {
    border-radius: 10px;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: stretch;
    transition: box-shadow 0.2s ease-in-out;
}

.pizza:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.pizza__hero {
    flex: 0 0 45%;
}

.pizza__image {
    width: 100%;
    height: auto;
    display: block;
}

.pizza__content {
    flex: 1;
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.pizza__price {
    flex: 0 1 50px;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pizza__heading {
    font-size: 18px;
    margin-right: auto;
}

.pizza__tag {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    padding: 4px 6px;
    border-radius: 100px;
    margin-left: 7px;
}

.pizza__tag--blue {
    background-color: #4ca2cd;
}

.pizza__tag--green {
    background-color: #67b26f;
}

.pizza__description {
    font-size: 14px;
    line-height: 150%;
    
}

.pizza__details {
    display: flex;
    margin-top: auto;
}

.pizza__detail {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.emoji {
    font-size: 22px;
    margin-right: 3px;
}